.post-main-image{
    display: flex;
    width: 100%;
    object-fit: contain;
    max-height: 500px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.post{
    border: 1px solid lightgray;
    background-color: white;
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.post-user-info{
    display: flex;
    padding: 20px;
    align-items: center;
}

.post-user-info h3{
    margin-left: 10px;
}

.post-about{
    padding: 20px;
}

.caption-username{
    font-weight: 600;
}